version: "3.9"

services:
  db:
    image: postgres:16-alpine
    container_name: cinema_db
    restart: always
    environment:
      POSTGRES_DB: cinema
      POSTGRES_USER: cinema
      POSTGRES_PASSWORD: cinema
    volumes:
      - postgres_data:/var/lib/postgresql/data

  app:
    build: .
    container_name: cinema_app
    restart: always
    depends_on:
      - db
    ports:
      - "8000:8000"
    environment:
      POSTGRES_HOST: db
      POSTGRES_PORT: 5432
      POSTGRES_DB: cinema
      POSTGRES_USER: cinema
      POSTGRES_PASSWORD: cinema
      DJANGO_DEBUG: "1"
    volumes:
      - media_data:/app/media
      - static_data:/app/staticfiles
    command: >
      sh -c "
      python manage.py wait_for_db &&
      python manage.py migrate &&
      python manage.py runserver 0.0.0.0:8000
      "

volumes:
  postgres_data:
  media_data:
  static_data:
